.Parent {
  margin-top: 10px;
}
.card {
  height: 750px;
  width: 600px;
  margin: auto;
  box-shadow: 10px 10px 10px black;
  border-color: #213555;
}
.card-img-top {
  height: 500px;
  width: 600px;
}
.card-body {
  text-align: center;
  background-color: #213555;
}
.card-title {
  text-shadow: 0px 0px 20px black, 0px 0px 20px gold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
}
h2 {
  color: #d8c4b6;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
